$borderColor: #d4d4d4;

@mixin clear {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

@mixin column($fraction, $columns, $gutter) {
	$space: $gutter - $gutter * ($fraction/$columns);
	width: calc(99.99% * #{$fraction}/#{$columns} - #{$space});
	float: left;
	margin-right: #{$gutter};
	clear: none;
	display: block;
	@include clear;

	&:last-child,
	&:nth-child(#{$columns}n){
		margin-right: 0px;
	}
	&:nth-child(#{$columns}n+1){
		clear:left
	}
}

* {
	margin: 0px;
	border: 0px;
	outline: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}

header {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #2e3e4e;
	color: rgba(255, 255, 255, 0.9);
	@include clear;

	.title {
		font-size: 24px;
		line-height: 60px;
		height: inherit;
		display: block;
		float: left;
	}
}

main {
	display: block;
	width: 100%;
	margin-bottom: 100px;
	@include clear;
}

.row {
	width: 100%;
	display: block;
	@include clear;
}

.content {
	width: 100%;
	display: block;
	max-width: 1020px;
	margin: 0 auto;
	padding: 0px 20px;
	@include clear;
}

label {
	margin-bottom: 5px;
	display: block;
}

input {
	display: block;
	padding: 0px 12px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #55595c;
	font-size: 16px;

	&.form-control {
		width: 100%;
	}
}

button {
	height: 32px;
	padding: 0px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.form-group {
	margin-bottom: 15px;
	display: block;

	.input-group {
		position: relative;
		display: table;
		border-collapse: separate;
		width: 100%;

		input {
			display: table-cell;
		}

		span {
			display: table-cell;
			vertical-align: middle;
			width: 1%;
		}
	}
}

.matchSettings {
	padding-bottom: 50px;
	border-bottom: 1px solid $borderColor;
	margin: 50px 0px;
	width: 100%;
	display: block;
	@include clear;



	.settings {
		@include column(5, 12, 30px);
	}

	.drivers {
		@include column(7, 12, 30px);

		.driver {
			width: 100%;
			display: block;
			@include clear;

			input {
				float: left;

				&[name="number"] {
					width: 55px;
					text-align: center;
				}

				&[name="group"] {
					width: 55px;
					text-align: center;
				}

				&[name="club"] {
					width: 150px;
				}

				&[name="name"] {
					width: calc(100% - 55px - 55px - 150px);
				}
			}
		}
	}
}

.preview {
	width: 100%;
	display: block;
	@include clear;

	table.race, table.drivers {
		table-layout: fixed;
		border-collapse: collapse;
		background-color: #fff;
		float: left;

		&.race {
			width: 400px;
			margin-right: 10px;
		}

		&.drivers {
			width: calc(100% - 410px);
		}

		thead tr {

			th {
				text-align: center;
				border: 1px solid $borderColor;
				font-weight: 700;
				height: 40px;

				&:first-child {
					width: 70px;
				}
			}
		}

		tbody tr {
			
			td {
				text-align: center;
				border: 1px solid $borderColor;

				&:first-child {
					font-weight: 700;
				}
			}
		}
	}
}


@media print {
	.matchSettings, header {
		display: none;
	}

	

	html, body {
		font-size: 10px;
	}

	.preview {
		
		table {
			table-layout: auto;
			
			&.race {
				width: auto;
				max-width: 30%;
			}

			&.drivers {
				width: auto;
			}

			th, td {
				border: 1px solid #000;
			}
		}		
	}
}