$mainColor: #1699dd;
$backgroundColor: #f4f5f9;
$cardColor: #fff;
$textColor: #23282e;
$borderColor: #d4d4d4;

@mixin clear {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

@mixin column($fraction, $columns, $gutter) {
	$space: $gutter - $gutter * ($fraction/$columns);
	width: calc(99.99% * #{$fraction}/#{$columns} - #{$space});
	float: left;
	margin-right: #{$gutter};
	clear: none;
	display: block;
	@include clear;

	&:last-child,
	&:nth-child(#{$columns}n){
		margin-right: 0px;
	}
	&:nth-child(#{$columns}n+1){
		clear:left
	}
}

@mixin row {
	width: 100%;
	display: block;
	margin-bottom: 50px;
	@include clear;
}

* {
	margin: 0px;
	border: 0px;
	outline: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 16px;
	font-weight: 400;
	color: $textColor;
	background-color: $backgroundColor;
	font-family: 'Open Sans', sans-serif;
}

header {
	display: block;
	width: 100%;
	height: 60px;
	background-color: $mainColor;
	color: rgba(255, 255, 255, 0.9);
	@include clear;

	.title {
		font-size: 24px;
		line-height: 60px;
		height: inherit;
		display: block;
		float: left;
	}
}

main {
	display: block;
	width: 100%;
	margin-bottom: 100px;
	padding-top: 50px;
	@include clear;
}

.row {
	width: 100%;
	display: block;
	@include clear;
}

.content {
	width: 100%;
	display: block;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 20px;
	@include clear;
}

.split {
	width: 50%;
	display: block;
	float: left;
	padding: 0px 20px;
	@include clear;
}

label {
	margin-bottom: 5px;
	display: block;
}

input {
	display: block;
	padding: 0px 12px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #55595c;
	font-size: 16px;

	&.form-control {
		width: 100%;
	}
}

button {
	height: 32px;
	padding: 0px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	margin-bottom: 50px;

	thead th {
		text-align: center;
		border: 1px solid $borderColor;
		font-weight: 700;
		height: 40px;

		&.number {
			width: 70px;
		}
	}

	tbody td {
		text-align: center;
		border: 1px solid $borderColor;

		&.number {
			font-weight: 700;

			input {
				text-align: center;
			}
		}

		input {
			width: 100%;
			border: none;
		}
	}


}

.form-group {
	margin-bottom: 15px;
	display: block;

	.input-group {
		position: relative;
		display: table;
		border-collapse: separate;
		width: 100%;

		input {
			display: table-cell;
		}

		span {
			display: table-cell;
			vertical-align: middle;
			width: 1%;
		}
	}
}

.card {

	.header {
		

		.title {

		}
	}
}

.matchSettings {
	@include row;

	.settings {
		@include row;
	}

	.driver {

		.number {
		}

		.group {
		}

		.club {
		}

		.name {
		}
	}
}

.preview {
	@include row;
}

@media print {
	// Reset Design
}