<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Speedway Match System</title>
	<link rel="stylesheet" href="public/app.css">
</head>
<body id="app">
	<header>
		<div class="content">
			<div class="title">Speedway Match System</div>
		</div>
	</header>
	<main>
		<div class="content">
			<table class="race">
				<thead>
					<tr>
						<th>Heat</th>
						<th>Lane 1 (red)</th>
						<th>Lane 2 (blue)</th>
						<th>Lane 3 (white)</th>
						<th>Lane 4 (yellow)</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="n in heats.length">
						<td>{{ n+1 }}</td>
						<td v-for="driver in heats[n]">{{ driver }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<script src="public/main.js"></script>
</body>
</html>