<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Speedway Match System</title>
	<link rel="stylesheet" href="public/app.css">
</head>
<body id="app">
	<header>
			<div class="title">Speedway Match System</div>
		</div>
	</header>
	<main>
		<div class="split">
			<div class="matchSettings">
				<div class="settings">
					<div class="form-group">
						<label for="numDrivers">Antal Kører</label>
						<div class="input-group">
							<input id="numDrivers" class="form-control" number v-model="numDrivers" v-on:keyup.enter="setDrivers">
							<span><button v-on:click="setDrivers">Update</button></span>
						</div>
					</div>
					
					
					<button v-on:click="shuffleHeats">Shuffle</button>
					<button onclick="window.print();">Print</button>
					<button v-on:click="resetDrivers">Reset Drivers</button>
				</div>

				<div class="drivers">
					<div class="driver" v-for="driver in drivers">
						<input type="text" name="number" value="{{ driver.number }}" number>
						<input type="text" name="name" value="{{ driver.name }}">
						<input type="text" name="group" value="{{ driver.group }}">
						<input type="text" name="club" value="{{ driver.club }}">
					</div>
				</div>
			</div>

		</div>

		<div class="split">
			<div class="preview">
				<table class="race">
					<thead>
						<tr>
							<th>Heat</th>
							<th>Lane 1<br>(red)</th>
							<th>Lane 2<br>(blue)</th>
							<th>Lane 3<br>(white)</th>
							<th>Lane 4<br>(yellow)</th>
							<th>Results</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="heat in heats">
							<td>{{ $index+1 }}</td>
							<td v-for="driver in heats[$index]">{{ driver }}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				
				<table class="drivers">
					<thead>
						<tr>
							<th>Nr.</th>
							<th>Navn</th>
							<th>Klasse</th>
							<th>Klub</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>ialt</th>
							<th>plac.</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="driver in drivers">
							<td>{{ driver.number }}</td>
							<td>{{ driver.name }}</td>
							<td>{{ driver.group }}</td>
							<td>{{ driver.club }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<script src="public/main.js"></script>
</body>
</html>