* {
  margin: 0px;
  border: 0px;
  outline: 0px;
  padding: 0px;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif; }

header {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #2e3e4e;
  color: rgba(255, 255, 255, 0.9); }
  header:after {
    content: '';
    clear: both;
    display: block; }
  header .title {
    font-size: 24px;
    line-height: 60px;
    height: inherit;
    display: block;
    float: left; }

main {
  display: block;
  width: 100%;
  margin-bottom: 100px; }
  main:after {
    content: '';
    clear: both;
    display: block; }

.row {
  width: 100%;
  display: block; }
  .row:after {
    content: '';
    clear: both;
    display: block; }

.content {
  width: 100%;
  display: block;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0px 20px; }
  .content:after {
    content: '';
    clear: both;
    display: block; }

.matchSettings {
  padding-bottom: 50px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 50px;
  width: 100%;
  display: block; }
  .matchSettings:after {
    content: '';
    clear: both;
    display: block; }
  .matchSettings .settings {
    width: 50%;
    float: left;
    display: block; }
    .matchSettings .settings:after {
      content: '';
      clear: both;
      display: block; }
  .matchSettings .drivers {
    width: 50%;
    float: left;
    display: block; }
    .matchSettings .drivers:after {
      content: '';
      clear: both;
      display: block; }
    .matchSettings .drivers .driver {
      width: 100%;
      display: block; }
      .matchSettings .drivers .driver:after {
        content: '';
        clear: both;
        display: block; }
      .matchSettings .drivers .driver input[name="number"] {
        width: 50px; }
      .matchSettings .drivers .driver input[name="group"] {
        width: 50px; }

.preview {
  width: 100%;
  display: block; }
  .preview:after {
    content: '';
    clear: both;
    display: block; }
  .preview table.race, .preview table.drivers {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    float: left; }
    .preview table.race.race, .preview table.drivers.race {
      width: 400px;
      margin-right: 10px; }
    .preview table.race.drivers, .preview table.drivers.drivers {
      width: calc(100% - 410px); }
    .preview table.race thead tr th, .preview table.drivers thead tr th {
      text-align: center;
      border: 1px solid #d4d4d4;
      font-weight: 700;
      height: 40px; }
      .preview table.race thead tr th:first-child, .preview table.drivers thead tr th:first-child {
        width: 70px; }
    .preview table.race tbody tr td, .preview table.drivers tbody tr td {
      text-align: center;
      border: 1px solid #d4d4d4; }
      .preview table.race tbody tr td:first-child, .preview table.drivers tbody tr td:first-child {
        font-weight: 700; }

@media print {
  .matchSettings, header {
    display: none; }
  html, body {
    font-size: 10px; }
  .preview table {
    table-layout: auto; }
    .preview table.race {
      width: auto;
      max-width: 30%; }
    .preview table.drivers {
      width: auto; }
    .preview table th, .preview table td {
      border: 1px solid #000; } }
